<div class="bootcards-list col-sm-6">
  <div class="panel panel-default">
    <div class="panel-body">
      <form>
        <div class="row">
          <div class="col-xs-9">
            <div class="form-group">
              <input name="search" value="<%= params[:search]%>" type="text" class="form-control observed" data-remote="true" data-url="<%= search_drivers_path %>" placeholder="Search Drivers...">
              <i class="fa fa-search"></i>
            </div>
          </div>
          <div class="col-xs-3">
            <a class="btn btn-primary btn-block" href="#">
              <i class="fa fa-plus"></i>
              Add
            </a>
          </div>
        </div>
      </form>
    </div>
    <div class="list-group infinite-scrolling" id='drivers' data-paginator='#drivers-paginator'>
      <% unless @drivers.empty? %>
        <%= render partial: 'row', collection: @drivers %>
      <% else %>
        <div class="alert alert-warning">No drivers found.</div>
      <% end %>
    </div>
    <div id="drivers-paginator">
    <%= paginate @drivers,  remote: true %>
    </div>
  </div>
</div>
