<%= link_to detail_driver_path(row), class: 'list-group-item clearfix driver_list_item', id: "driver_list_item_#{row.id}", remote: true do %>
  <%= image_tag row.photo.url(:medium), class: 'list-icon pull-left' %>
  <h4 class="list-group-item-heading"><%= row.display_name %></h4>
  <p class="list-group-item-text"><%= row.nationality %></p>
<% end %>
