<h1 class="page_heading"><%= fa_icon :user, text: "Drivers" %></h1>
<div class="row">
  <%= render partial: 'list' %>
  <div id="driver-detail" class="col-sm-6 bootcards-cards">
    Hello
  </div>
</div>
